.window {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 70rem;
  height: 40rem;
  overflow: visible;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.window-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.window-title {
  align-self: center;
}

.window-controls {
  display: flex;
  gap: 0.5rem;
}

.window-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.8rem;
}

.controls-icon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-text-main);
}

.window-content {
  display: flex;
  flex: 1;
  min-height: 0;
  padding: 0.7rem;
  box-sizing: border-box;
  overflow: auto;
}

/* .window-focused {
  opacity: 1;
  box-shadow: 0 0 14px var(--color-shadow-soft);
}

.window-blurred {
  opacity: 0.9;
} */

.window-cat {
  position: absolute;
  bottom: -3rem;
  right: -3rem;

  width: 18rem;
  height: 12rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  image-rendering: pixelated;
  image-rendering: crisp-edges;

  pointer-events: none;
  z-index: 4;

  filter: drop-shadow(0.7rem 0.35rem 0 rgba(70, 40, 110, 0.35));
}

.window-unfocused .window-cat {
  background-image: url("/assets/sprites/cat-asleep-removebg-preview.png");
  transform: translateY(-0.4rem);
}

.window-focused .window-cat {
  background-image: url("/assets/sprites/cat-awake-removebg-preview.png");
}
