.window {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 70rem;
  height: 40rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.window-title {
}

.window-controls {
  display: flex;
  gap: 0.5rem;
}

.window-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.8rem;
}

.controls-icon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-text-main);
}

.window-content {
  display: flex;
  flex: 1;
  min-height: 0;
  padding: 0.7rem;
  box-sizing: border-box;
  overflow: auto;
}
