* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cursor-default: url("/assets/cursors/default-dark.png") 4 1, default;
  --cursor-pointer: url("/assets/cursors/pointer-dark.png") 4 1, pointer;
}

button,
input,
textarea,
select {
  font: inherit;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  color: var(--color-text-main);
  background: var(--gradient-sky);
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: var(--cursor-default);
}

a,
button,
.primary-btn,
[role="button"] {
  cursor: var(--cursor-pointer);
}

input,
textarea,
select {
  cursor: var(--cursor-default);
}

a {
  text-decoration: none;
  color: inherit;
}

.ui-box {
  background: rgba(var(--color-purple-main-rgb), 0.45);
  backdrop-filter: blur(5px);

  border-top: 2px solid var(--color-surface-soft);
  border-left: 2px solid var(--color-surface-soft);
  border-right: 2px solid var(--color-border-dark);
  border-bottom: 2px solid var(--color-border-dark);

  box-shadow:
    inset -1px -1px 0 var(--color-surface-shadow),
    inset 1px 1px 0 var(--color-surface-soft);
}

.ui-box-inset {
  border-top: 2px solid var(--color-border-dark);
  border-left: 2px solid var(--color-border-dark);
  border-right: 2px solid var(--color-white-soft);
  border-bottom: 2px solid var(--color-white-soft);
}

.primary-btn {
  cursor: pointer;

  background: rgba(var(--color-purple-main-rgb), 0.25);
  backdrop-filter: blur(5px);

  border-top: 2px solid var(--color-surface-soft);
  border-left: 2px solid var(--color-surface-soft);
  border-right: 2px solid var(--color-border-dark);
  border-bottom: 2px solid var(--color-border-dark);

  box-shadow:
    inset -1px -1px 0 var(--color-surface-shadow),
    inset 1px 1px 0 var(--color-surface-soft);
}
